<footer class="container">
  <div class="inset">
    <div class="copyright">
      Copyright 2015
    </div>
    <div class="social">
      <ul>
        <li>
          <a href="https://www.instagram.com/aliskib" target="_blank">
            <span class="icon icon-instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/aliskib" target="_blank">
            <span class="icon icon-twitter"></span>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/aliskib" target="_blank">
            <span class="icon icon-pinterest"></span>
          </a>
        </li>
        <li>
          <a href="https://www.dribbble.com/aliskib" target="_blank">
            <span class="icon icon-dribbble"></span>
          </a>
        </li>
        <li>
          <a href="mailto:ali.skibicki@gmail.com">
            <span class="icon icon-mail"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="location">
      <span class="icon icon-map-marker"></span>

      <div class="title">
        <p>Chicago, IL</p>
      </div> 
    </div>
  </div>
</footer>